.footer {
  color: var(--white);
  text-align: center;
}

.footer-logo {
  display: none;
}

.footer .social {
  padding: 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footer-logo {
    display: block;
  }

  .footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    inline-size: 70%;
  }

  .footer-copyright p {
    margin: 0;
  }
}