.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-start: 100px;
  padding-block-end: 80px;
}

.form .title {
  align-self: start;
  margin: 0;
}

.form p {
  margin-block: 16px;
  font: var(--body1);
  color: var(--white);
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input label {
  font: var(--button);
  margin-left: 16px;
}

.form-input input,
.form-input textarea {
  border: 1px solid #858C94;
  border-radius: 8px;
  font: var(--body1);
  padding: 12px 16px;
}

.form-input input {
  block-size: 50px;
}

.form-input textarea {
  block-size: 130px;
}

.form-input.is-required label::after {
  content: '*';
  color: #DA1414;
}

@media screen and (min-width: 768px) {
  .form{
    max-inline-size: 543px;
    margin-inline: auto;
  }

  .form .title {
    align-self: stretch;
    text-align: center; 
  }

  .form p {
    text-align: center;
  }
}