.hero {
  padding-block-start: 16px;
}

.hero-image {
  margin-inline: auto;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-start: 16px;
}

.hero-copy h1 {
  font: var(--headline3);
  margin: 0;
}

.hero-copy h1 span:first-child {
  font: var(--headline5);
  display: block;
}

.hero-copy p {
  margin: 0;
}

/* Todo lo que tiene que ver con el fondo de la foto: */

.hero-image {
  position: relative;
  background-color: #6F34FE;
  inline-size: 100%;
  max-inline-size: 330px;
  padding-inline: 40px;
  border-radius: 24px;
  z-index: 1;
}

.hero-image div {
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 60px;
  background-color: white;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: -1;
}

.hero-image img {
  inline-size: 100%;
  block-size: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 60px;
    padding-block-start: 80px;
  }

  .hero-copy {
    max-inline-size: 550px;
    margin-block-start: 0;
  }

  .hero-copy .button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hero-copy h1 {
    font: var(--headline2);
  }

  .hero-image {
    max-inline-size: 500px;
  }
}