@import "./wrapper.css";
@import "./header.css";
@import "./button.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./menu.css";
@import "./message.css";
@import "./statement.css";
@import "./project.css";
@import "./social.css";
@import "./form.css";
@import "./title.css";
@import "./footer.css";

:root { 
  --primary: #310a90; 
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
  --white: #ffffff;
  --baseFont: Poppins, sans-serif;
  --headline1: 700 5.9375rem/9.6068754196167rem var(--baseFont); 
  --headline2: 700 3.6875rem/5.96637487411499rem var(--baseFont); 
  --headline3: 700 3rem/4.854000091552734rem var(--baseFont); 
  --headline4: 700 2.125rem/3.4382500648498535rem var(--baseFont); 
  --headline5: 700 1.5rem/2.427000045776367rem var(--baseFont); 
  --body1: 400 1rem/1.6180000305175781rem var(--baseFont); 
  --body2: 400 0.875rem/1.4157500267028809rem var(--baseFont); 
  --button: 700 0.875rem/1.4157500267028809rem var(--baseFont);
  --caption: 400 0.75rem/1.2135000228881836rem var(--baseFont);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background: var(--gradient);
  font: var(--body1);
  color: var(--primary);
  margin-block-start: 0;
}

#mail {
  /* For form withouth backend and just JS */
  position: absolute;
  opacity: 0;
}