.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-network img {
  vertical-align: middle;
  margin-right: 10px;
}

.social-network a {
  font-size: 16px;
  line-height: 25.9px;
  color: var(--primary)
}