.statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
  margin-block-end: 80px;
  padding: 24px;
  border-radius: 24px;
  /* border: 3.98px solid; */
  background-color: rgba(255,255,255,.2);
  backdrop-filter: blur(39.77px);
  /* border-image-source: linear-gradient(90deg, #D0D0D0 0%, rgba(196, 196, 196, 0) 100%); */
}

.statement p {
  font: var(--caption);
  margin: 0;
}

.statement .quote {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.statement:last-child {
  margin-block-end: 0;
}

@media screen and (min-width: 768px) {
  .statement {
    padding: 80px;
  }

  .statement p {
    font-size: 18px;
    opacity: .5;
  }

  .statement img {
    inline-size: 80px;
    block-size: 80px;
  }

  .statement .quote {
    font-size: 24px;
    line-height: 35px;
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .statement p {
    font: var(--headline5);
    opacity: .5;
  }

  .statement .quote {
    font-size: 34px;
    line-height: 55px;
    opacity: 1;
  }
}